/*Only works for firefox */
html {
    scroll-behavior: smooth;
}

body {
  margin-top: 50px;
}

.navbar {
  background-color: white;
}

/*Center the navbar*/
.navbar-nav {
  width: 100%;
  text-align: center;
}
.navbar-nav > li {
  float: none;
  display: inline-block;
  padding: 0% 2% 0% 2%;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #009838;
}

.navbar-default .navbar-nav > li > a {
  color: black;
  font-size: 150%;
}

/* Cheesy way to fix the problem with anchors not linking to the correct position */
#about, #projects, #contact {
  display: block;
  height: 50px;
  margin-top: -50px;
  visibility: hidden;
}

.sectionstyle {
  background-color: #009838;
  color: black;
  padding: 0% 2% 2% 2%;
  margin: auto;
  font-size: 150%;
}

.aboutheader {
  color: #800080;
}

.projects {
  background-color: #19181B;
  color: #00FFF1;
  margin: auto;
  padding-bottom: 2%;
}

.contact {
  background-color: #D3D3D3;
  margin: auto;
  padding-bottom: 2%;
  text-align: center;
}

.contact a {
  font-size: 150%;
  text-decoration: underline;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

h2 {
  margin: 0;
  padding: 2%
}

figcaption {
  text-align: center;
  color: white;
  padding: 1% 0 10% 0;
}

.figcaptionclass {
  font-size: 150%;
}

.figcaptionclass:hover {
  color: #009838;
}

a {
  color: black;
}

a:hover {
  color: #009838;
}

footer {
  background-color: white;
  padding: 2%;
  font-size: 150%;
}

img {
  width: 100%;
}