body {
  margin: 2% auto auto auto;
  background-color: white;
  color: black;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  body {
    width: 80%;
  }
}

p {
  font-size: 150%;
}

h1 {
  background-color: lighten(#337ab7, 30%);
  margin-bottom: 3%;
  opacity: 0.5;
  padding: 2% 4%;
}

.btn {
  margin-bottom: 2%;
}

a {
  color: black;
  font-size: 130%;
}

footer {
  background-color: lighten(#337ab7, 30%);
}